.lll{
	background-image:url(90.jpg);
	background-attachment:fixed;
}

.jk{
	padding-top:10px;
}

.b{
	float:left;
}
.bj{
	float:right;
}

img{
	margin:20px;
}
.e{
	float:left;
}
